$font-body: 14px Helvetica, sans-serif;
$blue: #182E49;
$white: #fff;
html {
 position: relative;
  
}
body {

  font: $font-body;
  margin: 0;
  padding: 0;
 
}


nav {
	
	li {
		a{
			color: $white;
			margin-right: 50px;
      font-size: 20px;
		}
		a:focus {
			color: $blue;
		}
		a:hover{
			color: $blue;
		}
	}
}


.navBar {
 	background-color: $blue; 
	width: 100%;
}

.header {
  margin: 20px 0 0 0;
  
}


.header-bottom {
 top: 110%;
 bottom: 0;
 left: 0;
 right: 0;
}

.main-image {
  margin: 15px auto;
  display: block;
  width: 100%;
}

.img-responsive{
  margin: 0 auto;
}

.home-banner {
 
  max-height: 300px;
}

.monies {
  font-size: 88px;
  font-weight: 700;
  color: firebrick;
  text-align: center;
}

.hero {
  /*//background-image: url("../images/lens-nikon-glass-light-65661.jpeg")*/
  width: 100%;
  margin: 0;
  padding: 0;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: -3;
  margin-top: 40px;
  background-color: $blue;
  height: 60px;
  padding-bottom: 10px;
}

.footerLinks a{
  margin-top: 5px;
  color: white;
  font-size: 18px; 
}
.footerItem {
  margin-top: 15px;
}
.footerSpace {
  height: 75px;
}

.btn-lg {
  padding: 7px 16px;
}

.order-total {
  margin: 25px;
}

.checkout {
  margin: 25px;
}

.product {
  margin: 20px;
  padding: 50px;
}
