<div class="container-fluid navBar">
	<div class="header clearfix">
		<div class="header-bottom">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<nav>
						<ul class="nav nav-pills  white">
							<li role="presentation"><a ui-sref="home">Home</a></li>
							<li role="presentation"><a ui-sref="cart">Cart</a></li>
							<li role="presentation"><a ui-sref="checkout">Checkout</a></li>

							<button class="btn btn-danger" ng-show="model.loggedIn" ng-click="model.logOut()">Logout</button>

							<button class="btn btn-success" ng-show="!model.loggedIn" ng-click="model.login()" ui-sref="login">Login</button>
						</ul>

					</nav>
				</div>
				<div class="col-md-3">
					

				</div>
			</div>
		</div>
	</div>
</div>