<div class="container">
	<!--Add logic to check if user is logged in on page load
		If logged in present the checkout button
		If not logged in offer a guest checkout or register account button
		Write function to create anon order using math.random to create a user ID-->

	<div class="text-center">
		<h1>Checkout </h1>
	</div>
	<div class="row" ng-show="model.loggedIn">

		<div class="col-md-4"></div>
		<div class="col-md-4">
			<h2 class="order-total text-center">Order Total: {{model.totalPrice | currency}}</h2>
			<button type="submit" id="submit-btn" class="btn btn-primary center-block" ng-click="model.placeOrder(model.card)">Pay Now With Stripe</button>
			<input type="hidden" name="price" value="{{model.totalPrice | currency}}" ) <div class="form-group">
		</div>
		<div class="col-md-4"></div>
	</div>

	<div class="login" ng-show="!model.loggedIn">
		<div class="alert alert-danger text-center">Please Login To Continue</div>
		<div class="row">
			<div class="col-md-6" ng-show="!model.login">
				<login-page></login-page>
			</div>
			<div class="col-md-6" ng-show="model.register">
				<register></register>
			</div>
		</div>

	</div>



	<div class="text-center">
		<h3>Your Items </h3>

	</div>


	<div class="row">
		<div ng-repeat="item in model.cart track by $index" class="col-lg-4">
			<h3 class="text-center">{{item.name}}<br>{{item.sell_price | currency}}</h2>
				<img ng-src="{{item.image_url}}" alt="" class="img-responsive">
		</div>
	</div>
</div>
</div>
</div>